    @media print {
        .blocks,
        .tm-sidebar,
        .heading,
        .ideas,
        .img-contact-us,
        #contact,
        .carousel,
        #about {
            display: none;
        }
        .flex-2-col {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
        .tm-content-box {
            margin-bottom: 0;
        }
        .flex-item img {
            width: 200px;
            height: 150px;
        }
        .padding-medium {
            text-align: left;
            padding: 110px;
            margin: -78px;
        }
        .tm-banner-inner p:first-letter {
            color: #87CEFA;
        }
        .tm-banner-text {
            font-size: 30px;
        }
        .padding-medium h2 {
            color: #87CEFA;
        }
        .padding-medium p:first-letter {
            color: #87CEFA;
            font-size: 25px
        }
        .padding-medium p {
            text-indent: 1.5em;
        }
        .padding-medium p:first-of-type {
            font-style: italic;
        }
        footer::first-letter {
            color: #87CEFA;
            font-size: 25px
        }
    }
    
    .flex-2-col {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    #about>ul>li>h2:hover {
        background-color: #87CEFA;
        color: rgb(255, 255, 255);
    }
    
    .tm-sidebar>nav>ul>li:hover {
        background-color: rgb(238, 236, 236);
    }
    
    body>div>div.tm-sidebar,
    #about.tm-content-box,
    #home,
    .tm-main-content>section.blocks,
    .carousel.slide.tm-content-box,
    .tm-content-box.flex-2-col,
    .heading.tm-content-box {
        box-shadow: 0 7px 28px rgba(27, 26, 26, 0.25), 0 5px 5px rgba(93, 91, 91, 0.22);
    }
    
    .tm-main-content>section.blocks::after,
    .carousel.slide.tm-content-box::after,
    .tm-content-box.flex-2-col::after,
    .heading.tm-content-box::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background-color: #87cefa;
        width: 100px;
        height: 25px;
        clip-path: polygon(0 100%, 0 0, 100% 0);
    }
    
    body>div>div.tm-main-content>section.heading.tm-content-box>div>ol {
        text-decoration: none;
    }
    
    body>div>div.tm-main-content>section.heading.tm-content-box>div>ol>li>a:hover {
        text-decoration-style: double;
        color: #0adaff;
    }
    
    body>div>div.tm-main-content>section.heading.tm-content-box>div>ol>li:nth-child(3)>a:after,
    body>div>div.tm-main-content>section.heading.tm-content-box>div>ol>li:nth-child(1)>a:after {
        content: "New";
        color: red;
        font-size: 10px;
        vertical-align: top;
    }
    
    h2.tm-section-title {
        color: #0adaff;
    }
    
    p.tm-section-description:first-of-type {
        font-style: italic;
    }
    
    p.tm-section-description {
        text-indent: 20px;
    }
    
    p.tm-section-description::first-letter {
        color: #87CEFA;
        font-size: 30px;
    }
    
    li.box.box-work {
        padding: 15px;
    }
    
    .box.box-work>div>p {
        font-style: italic;
    }
    
    .box.box-work>div>p::first-letter {
        font-size: 30px;
    }
    
    body>div>div.tm-main-content>section.blocks>div:nth-child(3)>ul>li:nth-child(4),
    body>div>div.tm-main-content>section.blocks>div:nth-child(3)>ul>li:nth-child(2),
    body>div>div.tm-main-content>section.blocks>div:nth-child(3)>ul>li:nth-child(6) {
        background-color: rgb(238, 236, 236);
    }
    
    .form-group-2-col-right.mandatory-field:after {
        content: "*";
        color: red;
    }
    
    #contact>form>button {
        float: right;
        border: 1px solid #87CEFA;
        background-color: white;
        border-radius: 0;
        color: #87CEFA;
    }
    
    #contact>form>button:hover {
        background-color: #87CEFA;
        color: white;
    }
    
    #tmCarousel>div>div.carousel-item.active>div>div>h2 {
        color: gainsboro;
        letter-spacing: 5px;
    }